{% extends "base.html" %}
{% block title %}Chat{% endblock %}

{% block content %}
<div class="chat-container">

	<div class="chat-head-div">
		<a href="/chats">
			<button class="chat-back-button">< Back</button>
		</a>
	</div>

	<h1 class="chat-tittle">
		Chat with
		{% if chat.user1 != current_user.username %}
			{{chat.user1}}
		{% else %}
			{{chat.user2}}
		{% endif %}
	</h1>

	<div class="chat-messages-section">
		{% for message in messages %}
			{% if message.from_user != current_user.username %}
				<div class="chat-other-message-row">
					<div class="chat-message chat-other-message">
						<div class="chat-message-username">
							{{message.from_user}}
						</div>
						<div class="chat-message-message">
							{{message.message}}
						</div>
						<div class="chat-message-date">
							{{message.date}}
						</div>
					</div>
				</div>
			{% else %}
				<div class="chat-own-message-row">
					<div class="chat-message chat-own-message">
						<div class="chat-message-message">
							{{message.message}}
						</div>
						<div class="chat-message-date">
							{{message.date}}
						</div>
					</div>
				</div>
			{% endif %}
		{% endfor %}
	</div>
	<div class="chat-form">
		<form method="POST" action="/chat?id={{chat.id}}">
			<textarea class="chat-textarea" name="message" placeholder="Write new message..." ></textarea>
			<button class="chat-send-button">Send</button>
		</form>
		{% with messages = get_flashed_messages() %}
			{% if messages %}
				<div class="error-message-div chat-error">
					{{messages[0]}}
				</div>
			{% endif %}
		{% endwith %}
	</div>
</div>
{% endblock %}
