{% extends "base.html" %}

{% block content %}
<body>
	<h1 class="home-tittle">UP Chat</h1>
	{% if not current_user.is_authenticated %}
		<div class="home-left">
			<h2 class="home-subtittle">
				Already have a user?
			</h2>
			<a href="/login">
				<button class="home-button" type="button" class="home-button">
					Login
				</button>
			</a>
		</div>
		<div class="home-right">
			<h2 class="home-subtittle">
				Don't have a user?
			</h2>
			<a href="/signup">
				<button class="home-button" type="button" class="home-button">
					Signup
				</button>
			</a>
		</div>
	{% endif %}
</body>
{% endblock %}
